        body {
            Background-color:beige;
            font-family:Arial;
            margin-right: 20px;
            color:black;
        }
        main {
            margin-right:200px;
        }
        h1 {
            font-size: 200px;
            margin-bottom: 0px;
            color: darkred;
            border-top: 5px solid darkred;
            border-bottom: 5px solid darkred;
            background-color: whitesmoke;
            transition-duration: 0.5s;
            padding-right: 100px;
        }
        h1:hover {
            transition-duration: 0.5s;
            background-color: darkred;
            color:white;
            border-top: 5px solid white;
            border-bottom: 5px solid white;
        }
        h3 {
            margin-top: 5px;
            color: black;
            font-size: 35px;
            margin-bottom: 0px;
            font-family:'BN Amnesia';
            font-weight:bold;
            margin-right: 200px;
        }
        #discription {
            margin-top:40px;
        }
        #logo {
            position:absolute;
            right:1600px;
            opacity:0.75;
            border:none;
            height:200px;
            border-radius: 3%;
            top:155px;
        }
        img {
            border:10px black double ;
            height:300px;
        }
        h2 {
            color:darkred;
            font-size:80px;
            text-shadow: grey 3px 3px 5px;
            margin-right: 20px;
        }

        p {
            font-size:2em;
            margin-right: 20px;
        }
        th,td {
            border-top-color: white;
            margin: 5px;
            background-color: white;
            border-radius: 5px 6px;
            padding:10px;
            box-shadow:gray 2px 3px 8px;
        }
        table {
            font-size:2em;
            margin-right: 20px;
        }
        aside {
            float:right;
            width:180px;
            height:2050px;
            border-left: #8b00008c solid 1px; 
        }    
        ul a {
            color:black;
            text-decoration:none;
            border-bottom: #8b00008c solid 1px;
            padding-bottom:6px;
            font-size: 1.2em;
        }
        a:active {
            color:darkred;
        }
        th {
            background-color: darkred;
            color: beige;
            border-radius: 5px 6px;
            padding: 10px;
        }
        ul {
            position:fixed;
            list-style-type: none;
            margin: 0;
            text-align:center;
            padding-right: 35px;
        }
        li {
            padding:10px 30px; 
        }
        video {
            border:5px darkred dotted ;
            height:300px;
        }
        input[type=text] {
           display:block;
           margin: 20px;
        }
        footer {
            border-top:#8b00008c solid 1px;
        }
        form {
            margin-right:200px;
            font-size: 1.5em;
            margin-top: 50px;
        }
        label {
             margin: 30px 10px;
        }
